{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <title>Eatros</title>

    <link rel="stylesheet" href="{% static 'css/eatros/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/eatros/text.css' %}">
    <link rel="stylesheet" href="{% static 'css/eatros/navbar.css' %}">
</head>
<body>

    <div class="page">
        {% include "eatros/navbar.html" %}
        <div class="form-content">
            <h1 id="slogan">Find the doctor you need</h1>
            <form action="search-doctors/" method="POST">
                {% csrf_token %}
                <input list="specialties" type="text" name="specialty" placeholder="Doctor's specialty"/>
                    <datalist id="specialties">
                        {% for specialty in specialties %}
                            <option value="{{ specialty.name }}">
                        {% endfor %}
                    </datalist>
                    <input list="areas" type="text" name="area" placeholder="Where?"/>
                    <datalist id="areas">
                        {% for area in areas %}
                            <option value="{{ area.name }}"></option>
                        {% endfor %}
                    </datalist>
                    <button id="search-btn" type="submit">Search</button>
            </form>
            {% for message in messages %}
                <p class="errors">{{message}}</p>
            {% endfor %}
        </div>
        <div></div>
        <div></div>
    </div>

    <script>
        // Find all inputs on the DOM which are bound to a datalist via their list attribute.
        var inputs = document.querySelectorAll('input[list]');
        for (var i = 0; i < inputs.length; i++) {
            // When the value of the input changes…
            inputs[i].addEventListener('change', function() {
                var optionFound = false,
                datalist = this.list;
                // Determine whether an option exists with the current value of the input.
                for (var j = 0; j < datalist.options.length; j++) {
                    if (this.value == datalist.options[j].value) {
                        optionFound = true;
                        break;
                    }
                }
                // use the setCustomValidity function of the Validation API
                // to provide an user feedback if the value does not exist in the datalist
                if (optionFound) {
                    this.setCustomValidity('');
                } else {
                    this.setCustomValidity('Please select a valid value.');
                }
            });
        }
    </script>
    
</body>
</html>