{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eatros | Doctors</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/eatros/search-doctors.css' %}">
    <link rel="stylesheet" href="{% static 'css/eatros/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/eatros/text.css' %}">
</head>
<body>

    {% include "eatros/navbar.html" %}
    <div class="form-content">
        <form action="" method="POST">
            {% csrf_token %}
            <input list="specialties" type="text" name="specialty" placeholder="Doctor's specialty"/>
                <datalist id="specialties">
                    {% for specialty in specialties %}
                        <option value="{{ specialty.name }}">
                    {% endfor %}
                </datalist>
                <input list="areas" type="text" name="area" placeholder="Where?"/>
                <datalist id="areas">
                    {% for area in areas %}
                        <option value="{{ area.name }}"></option>
                    {% endfor %}
                </datalist>
                <button id="search-btn" type="submit">New Search</button>
        </form>
    </div>

    {% for doctor in doctors %}
        <div class="search-results">
            <div class="mini-profile">
                <div class="left-side-profile">
                    <h2>{{doctor.user.first_name}} {{doctor.user.last_name}}</h2>
                    <h3>Specialty: {{doctor.specialty}}</h3>
                </div>
                <div class="right-side-profile">
                    <h3><i class="fas fa-map-marker-alt"></i> {{doctor.address}}</h3>
                    <button class="book-btn" onclick="showCommingSoon()">Book now</button>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="error-wrap">
    {% for message in messages %}
        <p class="{{ message.tags }}">{{message}}</p>
    {% endfor %}
    </div>

    <script>
        // Find all inputs on the DOM which are bound to a datalist via their list attribute.
        var inputs = document.querySelectorAll('input[list]');
        for (var i = 0; i < inputs.length; i++) {
            // When the value of the input changes…
            inputs[i].addEventListener('change', function() {
                var optionFound = false,
                datalist = this.list;
                // Determine whether an option exists with the current value of the input.
                for (var j = 0; j < datalist.options.length; j++) {
                    if (this.value == datalist.options[j].value) {
                        optionFound = true;
                        break;
                    }
                }
                // use the setCustomValidity function of the Validation API
                // to provide an user feedback if the value does not exist in the datalist
                if (optionFound) {
                    this.setCustomValidity('');
                } else {
                    this.setCustomValidity('Please select a valid value.');
                }
            });
        }

        function showCommingSoon() {
            alert("Comming soon...")
        }
    </script>
</body>
</html>