.page {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: url("/static/img/eatros/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

img {
    max-width: 100%;
    height: auto;
}

.form-content {
    padding: 40px 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    height: 35px;
    width: 300px;
    margin: 10px;
    padding: 0px 10px;
    border-radius: 5px;
    border: 2px solid rgb(110, 94, 254);
}

#search-btn {
    height: 38px;
    width: 100px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 2px solid rgb(110, 94, 254);
    background-color:rgb(110, 94, 254);
    border-radius: 5px;
}

#search-btn:hover {
    transition: all 0.3s ease-out;
    background: white;
    color: #6568f4;
    transition: 250ms;
}

#slogan {
    font-size: 50px;
    color:rgb(110, 94, 254);
    margin-top: 0px;
}

.error {
    background-color: rgba(251, 14, 14, 0.8);
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
}