.page {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.form-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    height: 35px;
    width: 300px;
    margin: 10px;
}

#search-btn {
    height: 38px;
    width: 80px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 2px solid rgb(110, 94, 254);
    background-color:rgb(110, 94, 254);
    border-radius: 5px;
}

#search-btn:hover {
    transition: all 0.3s ease-out;
    background: white;
    color: #6568f4;
    transition: 250ms;
}

#slogan {
    color:rgb(110, 94, 254);
}