.search-results {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-profile {
    width: 500px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 25px;
    box-shadow: 0 0 10px 5px rgb(16, 66, 230, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-content {
    padding: 20px;
    background-color: rgb(183, 255, 255);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    height: 35px;
    width: 300px;
    margin: 10px;
    padding: 0px 10px;
    border-radius: 5px;
    border: 2px solid rgb(110, 94, 254);
}

#search-btn {
    height: 38px;
    width: 130px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 2px solid rgb(110, 94, 254);
    background-color:rgb(110, 94, 254);
    border-radius: 5px;
}

#search-btn:hover {
    transition: all 0.2s ease-out;
    background: white;
    color: #6568f4;
    transition: 250ms;
}

.book-btn {
    height: 38px;
    width: 170px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 2px solid rgb(16, 66, 230);
    background-color:rgb(16, 66, 230);
    border-radius: 5px;
}

.book-btn:hover {
    transition: all 0.2s ease-out;
    background: white;
    color: rgb(16, 66, 230);
    transition: 250ms;
}

.right-side-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    width: fit-content;
    background-color: rgba(251, 14, 14, 0.8);
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
}