.search-results {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-profile {
    width: 40vw;
    margin-top: 30px;
    padding: 0 15px;
    box-shadow: 0 0 10px 5px rgb(110, 94, 254, .3);
    display: flex;
    justify-content: space-between;
}

.right-side {

}