{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Eatros | Login</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/eatros/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/eatros/text.css' %}">
    <link rel="stylesheet" href="{% static 'css/eatros/login.css' %}">
</head>
<body>

    <div class="page">
        {% include "eatros/navbar.html" %}
        <div class="form-box">
            <h1 class="form-logo">Eatros<i class="fas fa-user-md"></i></h1>
            <h3>Login as a Doctor</h3>
            <div class="whole-form">
                <form class="form-inputs" action="" method="POST">
                    {% csrf_token %}
                    <div class="input-line">
                        <label for="username"><b>Username</b></label>
                        <input type="text" name="username" required>
                    </div>
                    <div class="input-line">
                        <label for="password"><b>Password</b></label>
                        <input type="password" name="password" required>
                    </div>
            
                    <button id="submit-btn" type="submit">Login</button>
                </form>
                <span>
                    New here? <a href="doctor-register.html">Register</a> 
                </span>
            </div>
            {% for message in messages %}
                <p class="{{ message.tags }}">{{message}}</p>
            {% endfor %}
        </div>
        <div></div>
        <div></div>
    </div>
    
</body>
</html>